/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cairo', sans-serif;
	direction: rtl;
	color: white;
}
option{
	color: #333 !important;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #ece66d;
}

.container {
	
	margin: 0 auto;
	padding: 20px;
	border-radius: 31px;
	border-radius: 31px;
	background: #ece66d;
}

.shadow{
	box-shadow: 0 0 20px 10px #555f14 !important;
}

.re-shadow{
	box-shadow: inset  0 0 5px 3px #bac285;
}

.stage-counter {
	font-size: 24px;
	margin-bottom: 20px;
}

.game-stats {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.game-board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.circle {
	width: 6.25rem; /* 100px */
	height: 6.25rem; /* 100px */
	background-color: #ddd;
	border-radius: 50%;
	margin: 0.625rem; /* 10px */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.circle:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	transform: scale(0);
	transition: transform 0.5s ease;
}

.circle.active:before {
	transform: scale(1);
}

.circle.incorrect:before {
	background-color: rgba(255, 0, 0, 0.5);
}

.circle.correct:before {
	background-color: rgba(0, 255, 0, 0.5);
}

.circle.shown:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	transform: scale(1);
}

.circle.number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.25rem; /* 36px */
	font-weight: bold;
	color: #333;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.circle.shown .number {
	opacity: 1;
}

.circle:hover {
	transform: scale(1.1);
	/* تكبير الدائرة عند التحويم */
}

.circle:active {
	transform: scale(0.9);
	/* تصغير الدائرة عند النقر */
}

.timer {
	font-size: 1.5rem; /* 24px */
	margin-bottom: 20px;
}

.results {
	display: none;
}

.results.show {
	display: block;
}

button {
	font-size: 1.5rem; /* 24px */
	padding: 0.625rem 1.25rem; /* 10px 20px */
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

button:disabled {
	background-color: #ccc;
	color: #333;
	cursor: not-allowed;
}

#countdown {
	position: fixed;
	top: 20px;
	/* Adjust as needed */
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.25rem; /* 20px */
	font-weight: bold;
}

#countdown span {
	color: #4CAF50;
}

.red {
	color: red;
}


.wrapper {
	padding: 25px;
	border-radius: 10px;
	background: #F8F8F8;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.cards,
.card,
.view {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards {
	height: 400px;
	width: 400px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards .card {
	cursor: pointer;
	list-style: none;
	user-select: none;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
	height: calc(100% / 4 - 10px);
	width: calc(100% / 4 - 10px);
}

.card.shake {
	animation: shake 0.35s ease-in-out;
}

@keyframes shake {

	0%,
	100% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-13px);
	}

	40% {
		transform: translateX(13px);
	}

	60% {
		transform: translateX(-8px);
	}

	80% {
		transform: translateX(8px);
	}
}

.card .view {
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 7px;
	background: #fff;
	pointer-events: none;
	backface-visibility: hidden;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.25s linear;
}

.card .front-view img {
	width: 1.1875rem; /* 19px */
}

.card .back-view img {
	max-width: 2.8125rem; /* 45px */
}

.card .back-view {
	transform: rotateY(-180deg);
}

.card.flip .back-view {
	transform: rotateY(0);
}

.card.flip .front-view {
	transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
	.cards {
		height: 350px;
		width: 350px;
	}

	.card .front-view img {
		width: 1.0625rem; /* 17px */
	}

	.card .back-view img {
		max-width: 2.5rem; /* 40px */
	}
}

@media screen and (max-width: 530px) {
	.cards {
		height: 300px;
		width: 300px;
	}

	.card .front-view img {
		width: 0.9375rem; /* 15px */
	}

	.card .back-view img {
		max-width: 2.1875rem; /* 35px */
	}
}

.border{
	background: linear-gradient(135deg, rgba(255, 78, 80, 0.5) 0%, rgba(249, 212, 35, 0.5) 100%);
	border: 10px rgb(215, 237, 90) double !important;
	border-radius: 3rem !important;
}


.emoji-challenge{
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}